/* Navbar.css */
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-logo img {
    height: 80px;
  }
   */
   /* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.navbar-logo img {
  width: 70px; /* Ajustez la taille du logo selon vos besoins */
}

.navbar-title {
  text-align: center;
  flex-grow: 1;
  font-size: 20px;
}

  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
    list-style-type: none;
  }
  
  .navbar-links li:last-child {
    margin-right: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-links a:hover {
    color: #04683d; /* Changer la couleur au survol */
  }
  